<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script type="text/javascript" src="../../../libraries/jspdf.min.js"></script>
  <script type="text/javascript" src="../../../libraries/html2canvas.min.js"></script>
  <script type="text/javascript" src="../../../libraries/mathLive.js"></script>
  <script type="text/javascript" src="../../../libraries/jsxgraphcore.js"></script>

  <link rel="stylesheet" type="text/css" href="../../../libraries/jsxgraph.css" />
  <link rel="stylesheet" type="text/css" href="../../../libraries/styles.css" />
  <link rel="stylesheet" type="text/css" href="../../../libraries/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../libraries/generalStylesFragata.css" />
  <script type="text/javascript" src="../../../dist/engines/genericEngines/polyfillsAllUsed.min.js"></script>
 
  <title>Página 3</title>
</head>

<body">
   <div class="containerNormal ">
    <h3>Estudio de Curvas</h3>
    <hr>
    <div id="mainOwner">
    </div>

  </div>

  <template id="template">

    <div class="content_1">
      <div class="content_2">
      </div>
    </div>

    <div class="newContent"> </div>
  </template>

  <script src="../../../dist/engines/cap_1/engineOwner.min.js"></script>
  <script src="../../../dist/engines/cap_1/boardDefault.min.js"></script>
  <script src="../../../dist/engines/genericEngines/mod_G.min.js"></script>
  <script src="../../../dist/engines/genericEngines/progressEngine.min.js"></script>

  <!-- def -->
  <!-- <script src="../../../dist/definitions/cap_1/pag_3.js"></script> -->
  <script src="../../../dist/definitions/cap_1/pag_3.min.js"></script>

</body>

</html>