<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script type="text/javascript" src="../../../libraries/jspdf.min.js"></script>
  <script type="text/javascript" src="../../../libraries/html2canvas.min.js"></script>
  <script type="text/javascript" src="../../../libraries/mathLive.js"></script>
  <script type="text/javascript" src="../../../libraries/jsxgraphcore.js"></script>
  <script type="text/javascript" src="../../../libraries/computeEngine.js"></script>

  <link rel="stylesheet" type="text/css" href="../../../libraries/jsxgraph.css" />
  <link rel="stylesheet" type="text/css" href="../../../libraries/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../libraries/ownerStyles.css" />
  <link rel="stylesheet" type="text/css" href="../../../libraries/generalStylesFragata.css" />
  <link rel="stylesheet" type="text/css" href="../../../libraries/styles.css" />
  <link rel="stylesheet" href="prueba.css">
  <script type="text/javascript" src="../../../dist/engines/genericEngines/polyfillsAllUsed.min.js"></script>
  
  <title>Página 8</title>
</head>
<body>
  <style>
    .containerCard {
      display: flex;
      padding: 0;

      margin-bottom: 50px;
      width: 45%;

    }

    .card {
      border: 1px solid var(--azulMedio);
      height: max-content;
      width: 100%;
      box-sizing: border-box;
      border-radius: 10px;
    }

    @media only screen and (max-width: 900px) {
      .boardElement {
        width: 300px;
      }

      .containerCard {
        width: 90%;
        font-size: 16px;
      }

      .containerNormal {
        justify-content: center;
      }

      .toValidate {
        margin: 0;
      }
    }

    @media only screen and (max-width: 400px) {
      label {
        font-size: 10px;
      }

      .boardElement {
        width: 200px;
      }

      .containerCard {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 50px;
        text-align: left;
      }

      td {
        width: fit-content;
        text-align: left;

      }
    }
  </style>
    <!--<template id="globalTemplate">

        <div id="artifact-container" class="  flex-wrap justify-content rounded btn-all artifact-container">
          <div id="content" class="">
    
          </div>
          <div class="d-flex w-100 flex-wrap justify-content-center  rounded btn-all mb-3">
            <div class="d-flex flex-row">
              <div class="d-flex flex-wrap justify-content-start"></div>
    
              <button class="reset button-marg buttonSecundary buttonKey" title="Reiniciar"></button>
              <button class="check button-marg buttonPrimary buttonKey" title="Validar"></button>
    
            </div>
          </div>
    
        </div>
    
      </template>-->

      <!--<template id="templateSelect">
        <div class='' id="selectq">
          <div class="">
            <label for="opciones"></label>
          </div>
          <div class="">
            <select class="form-select form-control" name="opciones" id="opciones" style="width:max-content">
          </div>
          </select>
        </div>
      </template>-->

      <!--<template id="templateCheck">

        <div class="" id="radioContainer">
          <div class="title ">
          </div>
          <div class="content  ">
          </div>
        </div>
      </template>-->
      <!--<template id="templateInput">
        <div class="row">
          <div id="title" class=""></div>
          <div id="content" class=""></div>
        </div>
    
      </template>-->

    <div id="mainOwner" style='margin: 0;'>
    </div>

    <template id="globalTemplate">
        <div id="artifact-container" class="d-flex w-100 flex-wrap justify-content-center rounded btn-all artifact-container question">
          <div id="content" class="question__content">
          </div>
          <div class="d-flex w-100 flex-wrap justify-content-center  rounded btn-all question__footer">
            <div class="d-flex flex-row">
              <div class="d-flex flex-wrap justify-content-start "></div>
              <button class="reset button-marg buttonSecundary buttonKey question__footer__reset" title="Reiniciar"></button>
              <button class="check button-marg buttonPrimary buttonKey question__footer__check" title="Validar"></button>
    
            </div>
          </div>
    
        </div>
    
      </template>

    <div class="containerNormal background-gray ">
        <h3>Estudio de Curvas</h3>
        <hr>   
    
        <div class="flexElement">
            <div class="containerCard ">
                <div class="card" id="artifact_1">
                    <span class="question-text">P3</span>
                    <hr>
                    <div class="card-body">
                        <div class="d-flex justify-content-center ">
                            <div class="defBoard test short-board margen-5 " data-board="board_1" id="boardDefault_0"></div>
                        </div>
                    </div>
    
                    <div class="card-footer">    
                        <div id="ejemplo1" class="d-flex justify-content-center "></div>
                    </div>
                    <hr>
          <span class="oval-container">6pts</span>
                </div>    
            </div>    

            <div class="containerCard">
                <div class="card" id="artifact_2">
                    <div class="card-body">
                        <span class="question-text">P4</span>
                        <hr>
                        <div class="d-flex justify-content-center ">
                            <div class="defBoard test short-board margen-5 " data-board="board_1" id="boardDefault_0"></div>
                        </div>
                    </div>
        
                    <div class="card-footer">
                        <div id="ejemplo2" class="d-flex justify-content-center"></div>
                    </div>
                    <hr>
          <span class="oval-container">5pts</span>
                </div>
        
            </div>

        </div>
    
</div>

      <template id="template">
        <div class="content_1">
          <div class="content_2">
          </div>
        </div>
      </template>

      <script src="../../../dist/engines/genericEngines/mod_G.min.js"></script>
  <script src="../../../dist/engines/genericEngines/progressEngine.min.js"></script>

  <script src="../../../dist/engines/genericEngines/engineOwner.min.js"></script>
  <script src="../../../dist/engines/cap_1/boardDefault.min.js"></script>
  <script src="../../../dist/engines/genericEngines/mathKeyboard.min.js"></script>
  <!-- def -->
  <!-- <script src="../../../dist/definitions/cap_1/pag_3.js"></script> 2222-->
  <script src="../../../engines/cap_1/engineExam.js"></script>
  <script src="../../../definitions/cap_1/pagE_P1_1.js"></script>
</body>
</html>