<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página 3</title>

  <!-- Estilos -->
  <link rel="stylesheet" href="../../../libraries/styles.css">
  <link rel="stylesheet" href="../../../libraries/bootstrap.min.css">
  <link rel="stylesheet" href="../../../libraries/jsxgraph.css">
  <link rel="stylesheet" type="text/css" href="../../../libraries/generalStylesFragata.css" />
  <script type="text/javascript" src="../../../dist/engines/genericEngines/polyfillsAllUsed.min.js"></script>
</head>

<body>


  <div class="containerNormal background-gray">
    <h3>Fórmulas</h3>
    <hr>
    <p class="infoText">
      Al llenar los diagramas que siguen se han cometido errores. Corríjalos (Los
      errores no estan en las teclas, sino en las pantallas)
    </p>
    <div class="contentArtifactMath">
      <div id="mainArtifact" style="max-width: 1050px">
        <div id="contenedor" class="mainContent"></div>
      </div>
    </div>

    <template id="template">
      <div id="artifact"></div>
    </template>
  </div>

  <!-- Librerías -->
  <script src="../../../libraries/jsxgraphcore.js"></script>
  <script src="../../../libraries/mathLive.js"></script>
  <script src="../../../libraries/computeEngine.js"></script>

  <!-- Motores -->
  <script src="../../../dist/engines/genericEngines/mod_G.min.js"></script>
  <script src="../../../dist/engines/cap_3/mathEngine.min.js"></script>
  <script src="../../../dist/engines/genericEngines/progressEngine.min.js"></script>

  <!-- definicion -->
  <script src="../../../dist/definitions/cap_3/pag_3.min.js"></script>
</body>

</html>