/* General styles */
@media screen and (max-width: 400px) {
    .narvar {
        box-sizing: border-box;
        padding: 10px;
    }
}

@media screen and (max-width: 300px) {
    #contentButtons {
        align-items: center !important;
    }

    .allButtons {
        box-sizing: border-box;
        justify-content: flex-start;
    }

    .allButtons * {
        box-sizing: border-box;
        width: 55%;
        margin: 3px;
        height: 48px;
    }

    .paddiv {
        outline: 2px solid #d4d3d3;
    }

    #container-all-artifact {
        width: 98%;
        margin: 0;
    }
}

.question-header2{
    display: flex;
    font-weight: bold; /* Texto en negrita */
    font-size: 18px;
    padding-left: 1%;
}
.question-header{
    display: flex;
    font-weight: bold; /* Texto en negrita */
    font-size: 18px;
}
.score-header {
    margin-left: 85%;
    display: flex;
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 20px; /* Bordes redondeados para el óvalo */
    margin-bottom: 1%;
    font-size: 18px;
}

.oval-container {
    display: flex;
    justify-content: center;
    margin-left:77%;
    padding-right: 100%;
    padding: 5px 8px; /* Espaciado interno */
    align-items: center;
    /*width: 60%;
    /*height: 30px;*/
    margin-top: 1%;
    background-color: #000000; /* Black */
    border-radius: 20px;
    color: white;
    font-size: 18px;
    margin-bottom: 1%;
    /*font-weight: bold;*/
}

#newDiv{
    border: 2px solid rgb(7, 7, 7); /* Marco del contenedor */
    border-radius: 10px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0%;
    margin-bottom: 5%;
}

.paddiv{
    margin-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;    
}

.finalizar{
    background-color: var(--azulMedio);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    margin-bottom: 10%;
}

#resultadoPagina {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #0f0101;
}

th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

td {
    font-size: 16px;
}

 /* Estilos generales para la sección de la cabecera del examen */
 .cabecera-container {
    background-color: #d1d2d3d7; /* Fondo claro */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px; /* Espacio inferior */
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.cabecera-container p {
    font-size: 18px; /* Tamaño de fuente */
    margin: 10px 0; /* Espaciado entre párrafos */
    color: #333; /* Color del texto */
}

.cabecera-container strong {
    font-weight: 700; /* Negrita */
    color: #0056b3; /* Color destacado */
}

.cabecera-container span {
    font-weight: 500; /* Peso de fuente intermedio */
    color: #555; /* Color secundario */
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0; /* Espaciado entre filas */
}

.col-sm-6 {
    flex: 0 0 50%; /* Ancho del 50% para columnas divididas */
    padding: 5px 10px; /* Espaciado interno de columnas */
}

.col-sm-12 {
    flex: 0 0 100%; /* Ancho del 100% para columnas completas */
    padding: 5px 10px; /* Espaciado interno de columnas */
}